@model IEnumerable<TestPersonne.DAL.Personne>
@{
	ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
	@Html.ActionLink("Add Personne", "AddPersonne")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Nom)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Prenom)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DateNaissance)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nom)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Prenom)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateNaissance)
			</td>
			<td>
				@Html.ActionLink("Edit", "EditPersonne", new { PersonneId = item.ID }) |
				@Html.ActionLink("Delete", "DeletePersonne", new { PersonneId = item.ID })
			</td>
		</tr>
	}
</table>